

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1 {
    text-align: center;
    align-content: center;
}

.studio{
          
    background-image: url("./assets/backgrounds/h_img.jpg");
    min-height:60vh;
    color: white;
    width: 100%;
   text-align: center;
    
    
}
.aboutus{
    text-align: center;
    align-content: center;
}

#services{
    background-image: url("./assets/backgrounds/s_image.jpg");
    width:100%;
    height:100%;

}
.services{
   
    color: white;
    text-align: center;


}
.whatwedo{
    display: flex;
    flex-basis: 100%;
        
}


.whatwedoitems{
    
    flex-basis: 100%;
    justify-content: space-around;
  
    
    
}

.portfolio{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   /* grid-template-columns: auto auto auto auto;
    max-width: 80%; */
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
   
    
   /*display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;  */
 
    
    
}

.portfolio-item{
    /*display: grid;
    align-content: center; */
    display: flex;
    

    
}

.social-media{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    align-items: center;
    align-content: space-around;
}

.social-media-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.copyright{
  
    text-align: center;
}

.designp, .devp, .prop{
    text-align: center;
}

.wwd{
    align-content: center;
}

.contactus{
   
    background-image: url("./assets/backgrounds/c_image.jpg");
    justify-content: center;
    margin: 0;
    height: 500px; 
    width: 100%

}
.cfont{
  color: #fff;
}



.form{
    align-content: center;
}

.textarea{
    width: 60%;
    height: 180px;
    align-self: auto;
    text-align: center;
    opacity: 0.5;
}

.form{
    text-align: center;
}

.center{
 align-self: center;
 margin-left: 10px;
 margin-right: 10px;
}

/* Portfolio Grid */
/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 2px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


  .content {
    float: left;
    position: relative;
    margin: 5px;
    color: #333;
  }
  .content .image-caption {
    display: none;
    opacity: 0.8;
    background:#cae5c1;
    width: 270px;
    position: absolute;
    bottom: 0px;
    padding: 5px;
  }

  .social-media{
    align-items: center;
  }

  .social-media-item{
    align-items:center;
  }